.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../../img/Menu\ Aberto.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.cabecalho{
    background-color: var(--azul-background);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    
}

.logo__cabecalho-mobile{
    width: 20%;
    padding: 0.5rem;
}


.container__menu{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1rem;
}

.icone__deficiente{
    width: 20%;
    
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 40vw;
}

.container__botao:checked~.lista__menu{
    display: block;
}

.lista__menu-item{
    padding: 1rem;
    background-color: var(--azul-hover);
}

.lista__menu-item:hover{
    background-color: var(--azul-background);
    
    
}

.lista__menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--branco);
    font-family: var(--fonte-texto);
    
}

.lista__menu-link:hover{
    color: var(--branco);
}

.container__botao{
    display: none;
}

@media screen and (min-width: 768px) {
    .container__menu,.logo__cabecalho-mobile{
        display: none;
    }
    .cabecalho{
        background-color: var(--branco);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
   
    .logo__deficiencias{
        display: block;
        width: 30%;
    }
    .container__cabecalho{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .lista__cabecalho{
        display: flex;
        flex-direction: row;
        
    }
    .lista__cabecalho--item{
        text-decoration: none;
        padding: 0.5rem;
        color: var(--azul-background);
        text-transform: uppercase;
        font-family: var(--fonte-texto);
    }
    .lista__cabecalho--item:hover{
        cursor: pointer;
    }
}

@media screen and (min-width: 1280px) {
    .container__cabecalho{
        padding: 1rem;
    }
        
    .lista__cabecalho--item{
        font-size: 28px;
        padding: 1rem;
    }
    .lista__cabecalho--item:hover{
        text-decoration: underline;
        color: rgb(10, 26, 248);
    }
}

@media screen and (min-width: 1920px) {
    .container__cabecalho{
        padding: 3rem;
        
    }
    .lista__cabecalho--item{
        font-size: 32px;
        padding: 1.5rem;
    }

    .lista__cabecalho--item:hover{
        text-decoration: underline;
        color: rgb(10, 26, 248);
    }
}